---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import coco from '@images/coco.avif'
import categoriab from '@images/home/categoriab.avif'
import categoriac from '@images/home/categoriab.avif'
import categoriaJunior from '@images/home/categoriab.avif'
import FeaturesStatsAlt from "@/components/sections/features/FeaturesStatsAlt.astro";
---

<MainLayout>

  <HeroSection
    title=`Liga de Softból Rafael Vargas`
    subTitle="1° Liga de Softból amateur en Perú"
    primaryBtn="Resultados"
    primaryBtnURL="/resultados"
    secondaryBtn="Ver partidos"
    secondaryBtnURL="/Partidos"
    withReview={true}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Nuestros patrocinadores"
    subTitle="Ellos confian en la potencia y pasión del softbol de Venezuela"
  />

  <FeaturesStatsAlt
    title="La Liga"
    subTitle="Nuestra liga de softbol nace del amor por el deporte, la cultura venezolana y la familia. Cada juego celebra nuestras tradiciones y fortalece nuestros lazos, recordándonos que juntos somos más fuertes. Aquí, el softbol es vida, unión y pasión. ¡Bienvenidos a nuestra familia, donde el amor por el softbol y nuestras raíces venezolanas brillan en cada jugada!."
    benefits={[
      "Pasión: Vivir y jugar el softbol con entusiasmo y dedicación.",
      "Tradición: Honrar y celebrar la rica herencia cultural venezolana.",
      "Deportividad: Promover el juego limpio y el respeto mutuo en la competencia.",
    ]}
  />

  <TestimonialsSection
  title="¿Softból amateur?"
  subTitle="Desde el 2017 el softbol ha sido el deporte con mas acogida en la población venezolana en Perú."
  ;
  testimonials={[
    {
      content:
        "La Liga ha logrado integrar los componentes distintivos del venezolano: la pelota y la familia.",
      author: "Jesús 'El Coco' Sanchez",
      role: "Pitcher Coach - Equipo Cagua",
      avatarSrc: coco
    },
  ]}
  statistics={[
    {
      count: "200+",
      description:
        "Partidos jugados en 2024",
    },
    {
      count: "90%",
      description:
        "Asistencia de equipos",
    },
    {
      count: "30%",
      description:
        "Crecimiento de equipos este año",
    },
    {
      count: "100%",
      description: "Ambiente para la familia",
    },
  ]}
/>

  <FeaturesNavs
    title=`Categorías`
    tabs={[
      {
        heading: "Categoría B",
        content:
          "Categoría de Pitcheo rápido de Pitcheo rápido de Pitcheo rápido de Pitcheo rápido de Pitcheo rápido de Pitcheo rápido de Pitcheo rápido de Pitcheo rápido",
        svg: "checkCircle",
        src: categoriab,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Categoría C",
        content:
        "Categoría de Pitcheo rápido de Pitcheo rápido de Pitcheo rápido de Pitcheo rápido de Pitcheo rápido de Pitcheo rápido de Pitcheo rápido de Pitcheo rápido",
        svg: "checkCircle",
        src: categoriac,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
    ]}
  />



  <!-- <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} /> -->

  <HeroSectionAlt
    title="Listo para la próxima jornada"
    subTitle="Siguenos y encuentra una comunidad que te sume y apoye."
    url="https://www.facebook.com/profile.php?id=61559654964803"
  />
</MainLayout>
